* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brand-color-light:#60A5FA;
  --brand-color-dark:#1D4ED8;
  --bg-color:#0F172A;
  --stroke-color:#1E293B;
  --text-color-primary:#F1F5F9;
  --text-color-secondary:#CBD5E1;

  /* fonts */
  --ff:"Archivo", sans-serif;
  --heading1: 800 1.5rem/135% var(--ff);
  --heading2: 800 1rem/140% var(--ff);
  --heading3: 800 .875rem/140% var(--ff);
  --span: 600 .875rem/145% var(--ff);
  --text: 400 .875rem/160% var(--ff);
  
  --py-xsm:.5rem;
  --py-sm:.875rem; /* Mesmo tamanho desktop e mobile*/
  --py-md:1rem; /* Já foi*/
  --py-lg:1.5rem; /* Mesmo tamanho desktop e mobile*/
  --py-xl:2rem; /* Já foi*/
  --px-md:1rem; /* Já foi*/
}

body {
  background-color: var(--bg-color);
  font: var(--heading2);
  color: var(--text-color-primary);
}

@media (width >=80em) {
  :root {
    --py-md:1.625rem;
    --px-md:2rem;
    --py-xl:5rem;
  }
}

a {
  appearance: none;
  text-decoration: none;
  color: inherit;
}



