.grid {
  display: grid;
}

.flex {
  display: flex;
}

.desktop-only {
  display: none;
}


.py-sm {
  padding-block: var(--py-sm);
}

.py-md {
  padding-block: var(--py-md);
}

.py-lg {
  padding-block: var(--py-lg);
}

.py-xl {
  padding-block: var(--py-xl);
}

.px-md {
  padding-inline: var(--px-md);
}









@media (width >=80em) {
  .desktop-only {
    display: initial;
  }

  .flex-desktop {
    display: grid;
  }


  .mobile-only {
    display: none;
  }

  .grid-cols-2 {
  grid-template-columns: 1fr 1fr;
}
}