main,aside {
  max-width: 22.5rem;
  margin: auto;
}


.grid {
  display: grid;
}

.flex {
  display: flex;
}

.desktop-only {
  display: none;
}


.py-sm {
  padding-block: var(--py-sm);
}

.py-md {
  padding-block: var(--py-md);
}

.py-lg {
  padding-block: var(--py-lg);
}

.py-xl {
  padding-block: var(--py-xl);
}

.px-md {
  padding-inline: var(--px-md);
}

.card {
  & figcaption {
    flex-direction: column;
    display: flex;

    & span {
      align-self: flex-start;
      background-color: var(--brand-color-dark);
      padding: 4px 8px;
      text-transform: uppercase;
      border-radius: .25rem;
      font: 500 .625rem/120% var(--ff);
    }
    & h2 {
      font: var(--heading3);
    }
  }
}

@media (width >=80em) {

  .row-reverse {
    flex-direction: row-reverse;
  }

  main,aside {
    max-width: 80em;
    margin: auto;
  }
  .desktop-only {
    display: initial;
  }

  .flex-desktop {
    display: grid;
  }


  .mobile-only {
    display: none;
  }

  .grid-cols-2 {
  grid-template-columns: 1fr 1fr;
}
}